.input-text{
    margin: 24px 10px;
}

.input-text label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;  
}

.input-text input {
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 8px;
    width: 480px;
    border: 2px solid #27144b81;
    padding: 20px 12px;

    box-sizing: border-box;
}

input:focus {
    outline: 0;
}

.input-text ::placeholder {
    font-size: 16px;
    color: #A4A4A4 ;
}

