.button{
    background-color: #6E40D6;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 14px;
    border: none;
    cursor: pointer;
    margin-top:40px;
    width: 240px;
}

.button:hover {
    background-color: #592bc4;
}